    body{
    background-image: url(img1/fon.webp);
        text-align: center;

}
.img {
    text-align: center;
}


img{
   width: 95%; 
}

button {
    border: none;
    margin-bottom: 20px;
}
